* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  height: 100vh;
  display: flex;
  padding: 50px;
}
.my-moves-container {
  width: 100%;
}
.my-moves-heading {
  font-family: 'Roboto';
  font-size: 20px;
}
.my-moves-list-container {
  padding-left: 0px;
}
